
/*----------- MEDIA MD------------------- */

@media screen and (min-width:768px) {
    /* utils */
    .m-md-inline{
        margin:2em;
    }
    .w-100{
        width: 100% !important;
    }
    /* hamburger */
    .hamburger{
        display: none;
    }
    .collapse{
        display: block;
    }
    .navbar-expand-md{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
    }


    .nav-list{
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 0;
    }
    .nav-list .nav-item{
        margin-inline:1em;
        margin-top: 0;
    }
    /* hero */

    .hero-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap:20px;
        height: 50vh;
    }
    .hero-container .left{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .hero-container .left .learn-more{
        margin: 0;
        transition: all 0.3s ease ;
    }
    .hero-container .left .learn-more:hover{
        background-color: #fffbeb;
        color: #222;
    }
  
    
    .hero-container .title{
        margin-bottom: .2em;
        font-size: 3rem;
    }
    /* services */
    .services{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2em;
        gap: 10px;
    }
    .service{
        background-color: #faf5e1;
        box-shadow: -3px 3px 5px var(--color-teal);
        width: 400px;
        height: 450px;
        border-radius: 5px;
    }
    .service__title{
        margin-bottom: .3em;
    }
    .service__description{
        font-size: .8rem;
    }
    .service__img{
        width: 180px;
        height: 180px;
    }

    .container-md{
        width: 80%;
        margin-inline:auto;
    }

    .section-d-lg-flex{
        display: flex;
    }
    .section-justify-content-between{
        justify-content: space-between;
    }
    .section-justify-content-around{
        justify-content: space-around;
    }
    .section-align-center{
        align-items: center;
    }
    .section-flex-reverse{
        flex-direction: row-reverse;
    }
    .section-gap-10{
        gap: 10px;
    }
    /* react section */
    .react-section .w-lg-100{
       width: 100%;

    }
    .react-section .content-title{
        text-align: left;
        font-size: 4rem;
    }
    .react-section .content-description{
        text-align: left;
        max-width: 90%;
    }
    .react-section .section-lg-p2{
        padding: 40px;
    }
    .react-section .showcase-img img{
        width: 400px;
    }

    /* marketing */

    .marketing-section .w-lg-100{
        width: 100%;
     }
     .marketing-section .content{
        width: 60%;
        margin-right: 20px;
     }
     .marketing-section .content-title{
         text-align: right;
         font-size: 4rem;
     }
     .marketing-section .content-description{
         text-align: right;
     }
     .marketing-section .section-lg-p2{
         padding: 40px;
     }

     .marketing-section .showcase-img img{
        width: 500px;
    }

    /* testimonial */
    .testimonial .grid-container{
        grid-template-columns: repeat(3,1fr);
    }
    .grid-item{
        padding: 20px;
        border: 0;
    }
    .grid-item .card{
        border-radius: 8px;
        box-shadow: .2em .2em 1em rgba(49, 47, 47, 0.3);
    }

    .testimonial >h2{
        font-size: 4rem;
    }

    /* footer */
    .footer .grid-container{
        grid-template-columns: repeat(4,1fr);
    }

    

}
/* MEDIA LARGE 992px */
@media screen and (min-width:992px) {
    .hero-container{
        padding-bottom:20px;
        height: 100vh;
    }
    .hero-container .left{
        width: 50%;
        display: block;
        text-align: left;
    }
    .hero-container .right{
        display: block;
        width: 50%;
    }
    .hero-container .right img{
        margin-top: 20px;
    }
    .hero-container .title{
        margin-bottom: .2em;
        font-size: 4rem;
    }
    .service__description{
        font-size: 1rem;
    }
    
}


/* MEDIA  EXTRA LARGE */
@media screen and (min-width:1040px) {
 
    .hero-container .right img{
        height: 100%;
    }
    .service__description{
        font-size: 1rem;
    }
    
}