
/* Media md */

@media screen and (min-width:768px) {
    .hamburger{
        display: none;
    }
    .collapse{
        display: block;
    }
    .navbar-expand-md{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
    }


    .nav-list{
        list-style-type: none;
        display: flex;
        align-items: center;
        margin: 0;
    }
    .nav-list .nav-item{
        margin-inline:1em;
        margin-top: 0;
    }
    /* hero */

    .hero-container{
        display: flex;
        justify-content: space-between;
        gap:20px;
    }
    .hero-container .left{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .hero-container .left .learn-more{
        margin: 0;
        transition: all 0.3s ease ;
    }
    .hero-container .left .learn-more:hover{
        background-color: #fffbeb;
        color: #222;
    }
  
    .hero-container .right{
        display: none;
    }
    .hero-container .title{
        margin-bottom: .5em;
        font-size: 5rem;
    }
    /* services */
    .services{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2em;
        gap: 10px;
    }
    .service{
        background-color: #faf5e1;
        box-shadow: -3px 3px 5px var(--color-teal);
        width: 400px;
        height: 400px;
        border-radius: 5px;
    }
    .service__title{
        margin-bottom: 1em;
    }
    .service__description{
        font-size: .8rem;
    }
    .service__img{
        width: 180px;
        height: 180px;
    }

}
/* Media xlg */
@media screen and (min-width:1200px) {
    .hero-container .right{
        width: 50%;
        display: block;
    }
    .hero-container .right img{
        height: 100%;
    }
    .hero-container .left{
        width: 50%;
        display: block;
        text-align: left;
    }
    .service__description{
        font-size: 1rem;
    }
    
}